*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(230, 230, 230);
    font-family: Roboto, 'Open Sans', sans-serif;
    font-size: 1em;
}

h1{
    font-size: 2.5em;
    font-weight: bold;
    color:rgb(70, 70, 70);
    padding: 15px 10px;
}

#titulo_personalizado{
    color: #FFFF;
}

.cabecalho{
    width: auto;
    height: 100px;
    padding: 20px;
    background: rgb(255, 187, 0);
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
}

a, a:link, a:visited{
    color: #FFFF;
    padding: 10px;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 187, 0);
    background: #FFFF;
}


.conteudo{
    width: 680px;
    position: relative;
    left: 500px;
}

.postagem{
    background: #FFFF;
    padding: 15px;
    margin: 15px 0px;
    float: left;
}

.titulo_postagem{
    color: rgb(255, 187, 0);
}

.conteudo_lateral{
    background: #FFFF;
    width: 240px;
    height: 220px;
    float: right;
}

.clear{
    clear: left;
    clear: right;
}