
/* Formatações Gerais*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(230, 230, 230);
    font-family: Roboto, 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: justify;
}

h1{
    font-size: 2.5em;
    font-weight: bold;
    color:rgb(70, 70, 70);
    padding: 15px 10px;
}

h2{
    color: rgb(255, 187, 0);
}

h4{
    color: rgb(100,100,100);
    background: rgb(200,200,200);
}

/*Formatações do cabeçalho*/

#titulo_personalizado{
    color: #FFFF;
}

.cabecalho{
    width: auto;
    height: 100px;
    padding: 20px;
    background: rgb(255, 187, 0);
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
}

a{
    text-decoration: none;
}

.cabecalho a:link, a:visited{
    color: #FFFF;
    padding: 10px;
}

.cabecalho a:hover{
    color: rgb(255, 187, 0);
    background: #FFFF;
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600;
}

a:hover{
    text-decoration: underline;
}
/*Formatação do conteúdo principal*/

.conteudo_lateral, .postagem{
    background: #FFFF;
}

.conteudo{
    width: 920px;
    margin: 0px auto;
    padding: 15px;
}

.area_postagem{
    float: left;
}

.postagem{
    width: 635px;
    padding: 15px;
    margin-bottom: 30px;
}
.data-postagem{
    display: block;
    font-size: 0.8em;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.conteudo_lateral{
    width: 220px;
    height: 220px;
    float: right;
    padding: 15px;
}

.rodape{
    clear: both;
    text-align: center;
    background: #CCC;
    padding: 15px;
}